button {
    font-family: "Inter Tight";
    height: 40px;
    width: fit-content;
    padding: 0 18px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: .5px;
    transition: background-color ease .3s;
}

.primary {
    background-color: #3577ac;
    color: white;
}

.primary:hover:not([disabled="disabled"]) {
    background-color: rgb(50, 107, 151);
}

.primary:disabled {
    opacity: .4;
    cursor: default;
}

.primary:disabled:hover {
    background-color: #3577ac;
}

.link {
    height: auto;
    padding: 0 6px;
    background-color: transparent;
    color: #fff;
}