.formContainer {
    background-color: #28272C;
    padding: 30px;
    min-width: 500px;
    width: fit-content;
    margin: auto;
    max-width: 100%;
    border-radius: 10px;
    text-align: left;
}

.formContainer .title {
    font-size: 32px;
    margin-bottom: 16px;
    color: #fff;
}

.formContainer p {
    color: #a8a8a8;
}

.formContainer form {
    margin-top: 30px;
}

.formContainer .buttonWrapper {
    text-align: right;
}

.formContainer form button {
    margin-top: 20px;
}

.errorMessage{
    color: #fff;
    margin-top: 20px;
    background-color: tomato;
    padding: 10px;
    border-radius: 6px;
}