.postPage {
    padding: 60px;
    width: 1200px;
    margin: auto;
    max-width: 100%;
}

.introSection {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    text-align: left;
    padding-bottom: 30px;
}

.introSection h1 {
    font-size: 5rem;
    letter-spacing: 1px;
}

.introSection p {
    width: 650px;
    line-height: 24px;
    color: #ccc;
}

@media only screen and (max-width: 1400px) {

    .introSection h1 {
        font-size: 4rem;
        margin: 10px auto;
    }

    .postPage {
        padding: 30px;
    }
}